@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

.q1, .q2, .q3, .q4, .q5, .q6, .q7, .q8, .q9, .q10, .restart {
    display: none;
    max-width: 700px;
}

.displayScore {
    display: none;
}

.container {
    display: block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: #ebebeb;
}

.timer {
    display: none;
    font-size: 60px;
    color: red;
    margin-right: 30vh;
}

form {
    font-size: 24px;
    font-weight: bold;
}

body {
    max-width: 800px;
    margin: auto;
    background-color: lightblue;
}

.title-img{
    margin: 0px;
    max-width:100%;
    max-height:100%;
}


.front-page{
    justify-content: center;
    margin-left: 210px;
}

.displayScore{
    font-size: 100px;
    font-weight: bold;
    color: red;
}

button {
    font-size: 32px;
}
